<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.doget.mybatis.mapper.FinancialMapper">
    <resultMap id="FinancialResultMap" type="site.doget.dto.FnnrRawDto">
        <result property="baseYm" column="base_ym"/>
        <result property="C10000000" column="C10000000"/>
        <result property="C11000000" column="C11000000"/>
        <result property="C14000000" column="C14000000"/>
        <result property="C15000000" column="C15000000"/>
        <result property="C16000000" column="C16000000"/>
        <result property="C17000000" column="C17000000"/>
        <result property="C19000000" column="C19000000"/>
        <result property="C20000000" column="C20000000"/>
        <result property="C21000000" column="C21000000"/>
        <result property="C22000000" column="C22000000"/>
        <result property="C23000000" column="C23000000"/>
        <result property="C30000000" column="C30000000"/>
        <result property="C31000000" column="C31000000"/>
        <result property="C32000000" column="C32000000"/>
        <result property="C33000000" column="C33000000"/>
        <result property="C34000000" column="C34000000"/>
        <result property="C35000000" column="C35000000"/>
        <result property="C39000000" column="C39000000"/>
    </resultMap>

<!--    financial?term=yearly&bankCode=10452&amountType=0&stDate=2006-01-01&endDate=2006-05-30-->
    <select id="findByTermAndBankCode" resultMap="FinancialResultMap" parameterType="map">
        SELECT
            <if test="term == 'yearly'">
                TO_CHAR(base_ym, 'yyyy') AS base_ym,
            </if>
            <if test="term == 'monthly'">
                TO_CHAR(base_ym, 'yyyy-mm') AS base_ym,
            </if>
            <if test="term == 'quarterly'">
                TO_CHAR(base_ym, 'yyyy-q') AS base_ym,
            </if>
            SUM(C10000000) AS C10000000,
            SUM(C11000000) AS C11000000,
            SUM(C14000000) AS C14000000,
            SUM(C15000000) AS C15000000,
            SUM(C16000000) AS C16000000,
            SUM(C17000000) AS C17000000,
            SUM(C19000000) AS C19000000,
            SUM(C20000000) AS C20000000,
            SUM(C21000000) AS C21000000,
            SUM(C22000000) AS C22000000,
            SUM(C23000000) AS C23000000,
            SUM(C30000000) AS C30000000,
            SUM(C31000000) AS C31000000,
            SUM(C32000000) AS C32000000,
            SUM(C33000000) AS C33000000,
            SUM(C34000000) AS C34000000,
            SUM(C35000000) AS C35000000,
            SUM(C39000000) AS C39000000
        FROM fnnr_sttus_table
        WHERE bank_code = #{bankCode}
        AND amount_type = #{amountType}
        AND base_ym BETWEEN to_date(#{stDate}) AND to_date(#{endDate})
        GROUP BY
            <if test="term == 'yearly'">
                TO_CHAR(base_ym, 'yyyy')
            </if>
            <if test="term == 'monthly'">
                TO_CHAR(base_ym, 'yyyy-mm')
            </if>
            <if test="term == 'quarterly'">
                TO_CHAR(base_ym, 'yyyy-q')
            </if>
        ORDER BY base_ym
    </select>
</mapper>