<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.doget.mybatis.mapper.LoanInfoMapper">
    <!--대출 종류별 고객 수 조회-->
    <resultMap id="LoanGuaranteeResultMap" type="site.doget.dto.raw.LoanInfoRawDto">
        <result property="baseYm" column="base_ym"/>
        <result property="credMrtgNm" column="cred_mrtg_nm"/>
        <result property="cnt" column="cnt"/>
    </resultMap>
    <select id="findLoanGuaranteeByTermAndBankCode" resultMap="LoanGuaranteeResultMap" parameterType="map">
        SELECT
        <if test="term == 'yearly'">
            TO_CHAR(new_dt, 'yyyy') AS base_ym,
        </if>
        <if test="term == 'quarterly'">
            TO_CHAR(new_dt, 'yyyy-q') AS base_ym,
        </if>
        <if test="term == 'monthly'">
            TO_CHAR(new_dt, 'yyyy-mm') AS base_ym,
        </if>
        cred_mrtg_nm, count(*) as cnt
        FROM loan_info
        WHERE bank_code = #{bankCode}
        AND new_dt BETWEEN TO_DATE(#{stDate}, 'yyyy-mm-dd') AND TO_DATE(#{endDate}, 'yyyy-mm-dd')
        GROUP BY
        <if test="term == 'yearly'">
            TO_CHAR(new_dt, 'yyyy'),
        </if>
        <if test="term == 'quarterly'">
            TO_CHAR(new_dt, 'yyyy-q'),
        </if>
        <if test="term == 'monthly'">
            TO_CHAR(new_dt, 'yyyy-mm'),
        </if>
        cred_mrtg_nm
        ORDER BY cred_mrtg_nm, base_ym
    </select>
</mapper>
