<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.doget.mybatis.mapper.LoanCustomerMapper">
    <resultMap id="LoanCustomerResultMap" type="site.doget.dto.PlosdocRawDto">

    </resultMap>

    <select id="findLoanByCustomerType" resultMap="LoanCustomerResultMap" parameterType="map">

    </select>

</mapper>
